body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    padding: 0;
    height: 100vh;
    color: #fff;
    background: #000;
    margin: 0;

}

/*Global*/
.container {
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("images/heroes.jpg") no-repeat center;
    background-size: cover;
    border-left: solid 2px #d4af37;
    border-right: solid 2px #d4af37;
}

header h1{
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 4em;
    color: #e3e3e3;
}

/*Login*/
#login input, #login h2{
    margin: 0 0 20px 0;
}

#login form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.full-frame-width {
    width: 100%;
}

#login-button {
    align-self: center;
}








/*body {*/
/*    font-family: Helvetica, Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 1.2;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background-color: rgba(41, 63, 80, 0.9);*/
/*}*/

/*!*Global*!*/
/*.container {*/
/*    width: 80%;*/
/*    margin: auto;*/
/*    overflow: hidden;*/
/*}*/