<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quest Store">
    <meta name="keywords" content="web, design, quest store, html, css, js, java, sql">
    <meta name="author" content="Patryk Lichwała, Krzysztof Czaja">
    <title>Quest Store | Log in</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container background-container">
        <header>
            <h1>Quest Store</h1>
        </header>
        <section id="login">
            <form>
                <h2>Quest Store Login</h2>
                <label for="login-name">Login:</label>
                <input type="text" name="loginNme" id="login-name" class="full-frame-width">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="full-frame-width">
                <button type="submit">Login</button>
            </form>
        </section>
        <footer>
            <p>Chlur&Chlurs Company &copy; 2019</p>
        </footer>
    </div>
</body>
</html>